.login-page {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    &__form-container {
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
        padding: 48px 0;
        &__input-container {
            display: flex;
            flex-direction: column;
            gap: 6px;
        }
        &__error {
            color: red;
        }
    }
}