:root {
    --color-primary: #bb2d82;
    --color-secondary: #490080;

    --color-bg-light: #efecec;
    --color-bg-dark: #404040;

    --font-weight-lighter: 300;
    --font-weight-normal: 400;
    --font-weight-bold: 600;

    --font-size-xs: 14px;
    --font-size-s: 16px;
    --font-size-m: 20px
    --font-size-l: 24px;
    --font-size-xl: 32px;

    --card-border-radius: 10px;
    --profile-border-radius: 100%;

    --topbar-height: 80px;
    --topbar-padding: 20px;
    --topbar-color-bg-light: #f9a6f2;

    --actionbar-height: 80px;
    --actionbar-padding: 20px;
}